{% extends "base.html" %}

{% block custom_head %}
<style>
  .fa {
    padding: 10px;
    font-size: 20px;
    width: 40px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }

  .fa:hover {
      opacity: 0.7;
  }

  .fa-linkedin {
    background: #007bb5;
    color: white;
  }
</style>
{% endblock %}

{% block content %}
<div class="w3-row w3-padding-64">
  <div class="w3-twothird w3-container">
      <h1 class="w3-text-teal" style="text-align: center">Contact Info</h1>
      <p><br></p>

      <!--
      <h4>
          Henry Kuo:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a href="mailto:hkuo@college.harvard.edu" class="fa fa-envelope"></a> <a href="#" class="fa fa-linkedin"></a> <br>
          Mark Jabbour:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a href="mailto:markmarjabbour@gmail.com" class="fa fa-envelope"></a> <a href="#" class="fa fa-linkedin"></a> <br>
          Masaoud Haidar: <a href="mailto:masaoudhaidar@college.harvard.edu" class="fa fa-envelope"> </a> <a href="https://www.linkedin.com/in/masaoud-haidar-b9a89b167/" class="fa fa-linkedin"></a> <br>
      </h4>-->

      <h4>
      <table style="width:40%">
        <tr>
          <td>Henry Kuo:</td>
          <td><a href="mailto:hkuo@college.harvard.edu" class="fa fa-envelope"></a></td>
          <td><a href="https://www.linkedin.com/in/henry-kuo-b42b00176" class="fa fa-linkedin"></a></td>
          <td><a href="https://github.com/thecodehen" class="fa fa-github"></a></td>
        </tr>
        <tr>
          <td>Mark Jabbour:</td>
          <td><a href="mailto:markmarjabbour@gmail.com" class="fa fa-envelope"></a></td>
          <td><a href="#" class="fa fa-linkedin"></a> <br></td>
          <td><a href="#" class="fa fa-github"></a></td>
        </tr>
        <tr>
          <td>Masaoud Haidar:</td>
          <td><a href="mailto:masaoudhaidar@college.harvard.edu" class="fa fa-envelope"> </a></td>
          <td><a href="https://www.linkedin.com/in/masaoud-haidar-b9a89b167/" class="fa fa-linkedin"></a></td>
          <td><a href="https://github.com/MasaoudHaidar" class="fa fa-github"></a></td>
        </tr>
      </table>
      </h4>
  </div>
</div>
{% endblock %}
