{% extends "base.html" %}

{% block custom_head %}

{% endblock %}


{% block content %}
<!-- Main content: shift it to the right by 250 pixels when the sidebar is visible -->
<div class="w3-main" style="margin-left:250px;margin-top: 100px">

  <div class="w3-row-padding" style="margin-bottom: 50px">
    <div class="w3-col m12">
      <div class="w3-card w3-round w3-white">
        <div class="w3-container w3-padding">
            <img src="avatar-1577909_960_720.webp" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:60px">
            <span class="w3-right w3-opacity">1 min</span>
            <p>{{ problem.company.full_name }}</p><br>
            <h1 class="w3-text-teal">{{ problem.title }}</h1>
            <p> {{ problem.description }}
                <br>
            </p>
            <pre> <a href="#">#Tag1</a>  <a href="#">#Tag2</a>  <a href="#">#Tag3</a> </pre>
        </div>
      </div>
    </div>
  </div>

  <div class="w3-row-padding" style="margin-bottom: 320px">
    <div class="w3-col m12">
      <div class="w3-card w3-round w3-white">
        <div class="w3-container w3-padding">
          <div style="display: block">
              <h4> Add Comment:</h4>
              <p contenteditable="true" class="w3-border w3-padding">Describe The Solution <br><br><br><br> </p>
              <button type="button" class="w3-button w3-theme"><i class="fa fa-pencil"></i>  Post</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  {% for discussion in discussions %}
    <div class="w3-row-padding" style="margin-bottom: 320px">
      <div class="w3-col m12">
        <div class="w3-card w3-round w3-white">
          <div class="w3-container w3-padding">
            <div>
              <img src="avatar-1577909_960_720.webp" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:60px">
              <span class="w3-right w3-opacity">1 min</span>
              <p>{{ discussion.student.full_name }}</p>
              <br>
              <p>{{ discussion.comment }}</p>
              <hr>
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}

  {% for solution in solutions %}
    <div class="w3-row-padding" style="margin-bottom: 50px">
      <div class="w3-col m12">
        <div class="w3-card w3-round w3-white">
          <div class="w3-container w3-padding">

            <div>
              <img src="avatar-1577909_960_720.webp" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:60px">
              <span class="w3-right w3-opacity">1 min</span>
              <p>{{ solution.professor.full_name }}</p>
              <br>
              {% if solution.video_url %}
                  <iframe width="420" height="315"
                    src="{{ solution.video_url }}">
                  </iframe>
              {% endif %}
              <p>
                  {{ solution.solution_text }}
              </p>
              <hr>
            </div>

          </div>
        </div>
      </div>
    </div>
  {% endfor %}
  <div style="display: block">
    <h4> Add another solution:</h4>
    <p contenteditable="true" class="w3-border w3-padding">Provide a Video url:</p>
    <p contenteditable="true" class="w3-border w3-padding">Describe The Solution <br><br><br><br> </p>
    <button type="button" class="w3-button w3-theme"><i class="fa fa-pencil"></i>  Post</button>
  </div>
{% endblock %}
